html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Poppins', sans-serif;
}
header{
	height:550px;
	background:#F0FFF0;
}
#navbarSupportedContent .nav-item a{
	color:black;
}
.sign-in{
	background:#21B573;
    padding: 0px 15px;
    border-radius: 20px;
}
.navbar-expand-lg .navbar-nav .nav-link {
	width: 4.5rem;
	text-align: center;
}
.sign-in a{
	color:white!important;
}
.nav-item{
      padding: 0px 10px;
}
.heading{
	line-height: 1.4;
	margin:10px 0px;
	font-weight:700;
}
.description{
	color:#AEB5AD;
	line-height: 2;
	margin-top:20px;

}
.button{
	padding:10px 25px;
	background:#21B573;
	color:white;
	border-radius: 25px;
	border: none;
	 cursor: pointer;
    outline: none;
}
.title{
	font-size: 22px;
}
.sub-title{
	color:#949797;
	font-size: 14px;
	font-weight: 500;
}
.box{
    padding-top: 40px;
    transition:box-shadow .3s ease;
    border-radius: 10px;
    cursor: pointer;
}
.box:hover{
	 box-shadow: 0px 10px 10px lightgray;
}

.card{
	border-radius: 10px;
	border:none;
	 box-shadow: 0px 10px 10px lightgray
}
.card .card-img-top{
	padding:15px;

}
.card-title{
	font-size:22px;
}
.card .card-body .button {
    padding: 4px 15px;
    font-size: 13px;
}
.card-body p{
	font-size:12px;
	color:#a0a0a0;
}
.card-footer{
	padding:5px 1.25rem;
	border:none;
	background:none;
}
.card-footer p{
	font-size:12px;
	font-size:500;
}
.testimonial-description{
	font-size:12px;
	line-height: 2;
	margin-top:10px;
}
.testimonial-width{
	width:70%;
	margin:auto;
}
footer{
	padding:50px 0px 0px;
	background:#282531;
	color:lightgray;
}
footer .row {
	font-size: 11px;
}
footer .row ul{
	list-style: none;
}
footer .row ul li{
	margin:5px 0px;
}
footer .row ul li a{
	color:lightgray;


}
footer .row ul li:first-child a{
	font-weight: bold;
	color:white;
	font-size: 12px;
}
.copyright{
	margin:0px;
	font-size:11px;
	padding:3rem 0px 1rem;
}
#testimonial{
	    padding-bottom: 3rem;
}